.img-container {
  background-image: url("../img/MJPic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 69%;
}